    <% include header.html   %>
    <% include sidebar.html   %>
       
		<!-- begin #content -->
		<div id="content" class="content">			
			<!-- begin row -->
			<div class="row addDeviceContent">
			    
          <!-- show message -->
          <% if( msg != '' ){ %>
           <div class="col-md-12 col-sm-12">
              <p><%= msg %></p>  
           </div>
          <% } %> 

          <!-- begin col-3 -->

          <% if(device.length > 0){ 

                device.forEach(function(value, key){ 

                  var token = value._id+'kioxApp'
          %>
			    <div class="col-md-3 col-sm-6">                
                <div class="panel panel-default">
                 <div class="panel-heading text-center"><img src="<%= url+"/"+value.image %>" /></div>
                  <div class="panel-body">
                    <!-- <h4>Madhav’s Home Device</h4> -->
                      <div class="row">
                        	 <div class="col-md-6 pull-left"><span> <%= value.name %> </span></div>
                        	 <div class="col-md-6 ">
                              <span class="pull-right"> 
                                <i class="fa fa-circle <% if(value.status){ %> enable <% } %>"></i> 
                                <i class="fa fa-circle <% if(value.status){ %> enable <% } %>"></i>
                              </span>
                           </div>
                        </div>
                  </div>
                  <div class="panel-footer">
                  	 <div class="row">
                        	 <div class="col-md-6 pull-left">
                             <span>&nbsp;</span>
                        </div>
                        <div class="col-md-6 ">
                        	<div class="pull-right">
                              <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                               <i class="fa fa-bars"></i></button>
                              <ul class="dropdown-menu ">
                                <li class="text-center">OPTIONS</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="<%= url %>/managedevice/editDevice/?token=<%=token%>&d=<%=value._id%>"><i class="fa fa-pencil"></i> Edit Device</a></li>
                                <li><a href="javascript:;" class="device-delete" data-id="<%=value._id%>" data-img="<%=value.image %>">
                                <i class="fa fa-trash-o"></i> Delete Device</a></li>                                
                                <li><a href="<%= url %>/managedevice/changeDeviceStatus/?token=<%=token+value.status%>&s=<%=value.status%>&d=<%=value._id%>"> 
                                   <i class="fa fa-circle <% if(value.status){ %> enable <% } %>"></i> <i class="fa fa-circle <% if(value.status){ %> enable <% } %>"></i> Enable/Disable </a>
                                </li>
                              </ul>
                            </div>                            
                        </div>
                        </div>
                  </div>
                </div>              
			</div>
           
      <% 
          })
        } 
      %>
           
			<!-- end row -->			
			
		</div>


		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
  <% include footer.html %>

  <script type="text/javascript">

      $('.device-delete').bind('click',function(){
          if(confirm('Do you want to delete this device?')){
              var id = $(this).data('id');
              var img = $(this).data('img');
              window.location.href = '<%=url%>/managedevice/deleteDevice/?d='+id+'&img='+img;               
          }
      });

  </script>
    