<!-- begin #sidebar -->
	<div id="sidebar" class="sidebar">
		<!-- begin sidebar scrollbar -->
		<div data-scrollbar="true" data-height="100%">
			
      <!-- Nav tabs -->
      <ul class="nav nav-tabs tabs-left">
        <li class="active"><i class="fa fa-play" id="abc" style="display:none"></i><a href="#Device1" data-toggle="tab" class="sidebarlink-icon1"></a></li>
        <li><a href="#Device2" data-toggle="tab" class="sidebarlink-icon2"></a></li>
        <li><a href="#Device3" data-toggle="tab" class="sidebarlink-icon3"></a></li>
       
      </ul>
  
		</div>
        <div class="tab-content">
        <div class="tab-pane sidebar-content active" id="Device2">
        	<ul class="navcontent">           		
				
				<li><a href="<%= url %>/dashboard"><!--<i class="fa fa-laptop"></i>--><span> Manage Things</span></a></li>
				<!--<li><a href="<%= url %>/managedevice"><i class="fa fa-laptop"></i><span> Add Device</span></a></li>-->
               <li><a href="<%= url %>/devices"><!--<i class="fa fa-laptop"></i>--><span> Add Things</span></a></li>
               <li><a href="<%= url %>/remote"><!--<i class="fa fa-laptop"></i>--><span> Remote Device</span></a></li>				       
			</ul>
        </div>
        <div class="tab-pane sidebar-content" id="Device1">
        	<ul class="navcontent">           		
			
				<li><a href="<%= url %>/dashboard"><!--<i class="fa fa-laptop"></i>--><span> Manage Things </span></a></li>
				<!--<li><a href="javascript:;"><i class="fa fa-laptop"></i><span> span</span></a></li>-->
               <li><a href="<%= url %>/devices"><!--<i class="fa fa-laptop"></i>--><span> Add Things</span></a></li>	
               <li><a href="<%= url %>/remote"><!--<i class="fa fa-laptop"></i>--><span> Remote Device</span></a></li>		       
			</ul>
        </div>
        <div class="tab-pane sidebar-content" id="Device3">
        	<ul class="navcontent">          		
				
				<li><a href="<%= url %>/dashboard"><!--<i class="fa fa-laptop"></i>--><span> Manage Things</span></a></li>
				<!--<li><a href="<%= url %>/managedevice"><i class="fa fa-laptop"></i><span> Add Device</span></a></li>-->
               <li><a href="<%= url %>/devices"><i class="fa fa-laptop"></i><span> Add Things</span></a></li>
                <li><a href="<%= url %>/remote"><!--<i class="fa fa-laptop"></i>--><span> Remote Device</span></a></li>		       
			</ul>
        </div>
       
      </div>
		<!-- end sidebar scrollbar -->
	</div>
	<div class="sidebar-bg"></div>
	<!-- end #sidebar -->