	<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
			<!-- Nav tabs -->
              <ul class="nav nav-tabs tabs-left">
                <li class="active"><a href="#Device1" data-toggle="tab" class="sidebarlink-icon1"></a></li>
                <li><a href="#Device2" data-toggle="tab" class="sidebarlink-icon2"></a></li>
                <li><a href="#Device3" data-toggle="tab" class="sidebarlink-icon3"></a></li>
              </ul>
      		</div>
            <div class="tab-content">
            <div class="tab-pane sidebar-content active" id="Device2">
            	<ul class="navcontent">           		
					<li><a href="javascript:;"><i class="fa fa-info-circle"></i><span> Info</span></a></li>
					<li><a href="<%=url%>/monitoring"><i class="fa fa-desktop"></i><span> monitoring</span></a></li>
                   <li><a href="<%=url%>/alarm"><i class="fa fa-bell"></i><span> alarms</span></a></li>
                   
					<li><a href="<%=url%>/actions"><i class="fa fa-bolt"></i><span> actions</span></a></li>
                   <li><a href="javascript:;"><i class="fa fa-map-marker"></i><span> location</span></a></li>	
                   <li><a href="javascript:;"><i class="fa fa-calendar"></i><span> log/events</span></a></li>
					<li><a href="<%=url %>/modules"><img src="assets/img/module-icon.png" alt="" /><span> module</span></a></li>
          <!-- <li><a href="<%=url %>/modules/addNew"><img src="assets/img/module-icon.png" alt="" /><span> Add module</span></a></li> -->
                   <li><a href="<%=url %>/sensors"><img src="assets/img/sensor-icon.png" alt="" /><span> sensors</span></a></li>	
                    <!--  <li><a href="<%=url %>/sensors/addNew"><img src="assets/img/sensor-icon.png" alt="" /><span> Add sensors</span></a></li>   -->
                   <li><a href="javascript:;"><i class="fa fa-file-code-o"></i><span> rest/api</span></a></li>
				</ul>
            </div>
            <div class="tab-pane sidebar-content" id="Device1">
            	<ul class="navcontent">           		
					<li><a href="javascript:;"><i class="fa fa-info-circle"></i><span> Info</span></a></li>
					<li><a href="javascript:;"><i class="fa fa-desktop"></i><span> monitoring</span></a></li>
                   <li><a href="<%=url%>/alarm"><i class="fa fa-bell"></i><span> alarms</span></a></li>
                   
					<li><a href="<%=url%>/actions"><i class="fa fa-bolt"></i><span> actions</span></a></li>
                   <li><a href="javascript:;"><i class="fa fa-map-marker"></i><span> location</span></a></li>	
                   <li><a href="javascript:;"><i class="fa fa-calendar"></i><span> log/events</span></a></li>
					<li><a href="javascript:;"><img src="assets/img/module-icon.png" alt="" /><span> module</span></a></li>
                   <li><a href="javascript:;"><img src="assets/img/sensor-icon.png" alt="" /><span> sensors</span></a></li>	
                   <li><a href="javascript:;"><i class="fa fa-file-code-o"></i><span> rest/api</span></a></li>	       
				</ul>
            </div>
            <div class="tab-pane sidebar-content" id="Device3">
            	<ul class="navcontent">         		
					<li><a href="javascript:;"><i class="fa fa-info-circle"></i><span> Info</span></a></li>
					<li><a href="javascript:;"><i class="fa fa-desktop"></i><span> monitoring</span></a></li>
                   <li><a href="<%=url%>/alarm"><i class="fa fa-bell"></i><span> alarms</span></a></li>
                   
					<li><a href="<%=url%>/actions"><i class="fa fa-bolt"></i><span> actions</span></a></li>
                   <li><a href="javascript:;"><i class="fa fa-map-marker"></i><span> location</span></a></li>	
                   <li><a href="javascript:;"><i class="fa fa-calendar"></i><span> log/events</span></a></li>
					<li><a href="javascript:;"><img src="assets/img/module-icon.png" alt="" /><span> module</span></a></li>
                   <li><a href="javascript:;"><img src="assets/img/sensor-icon.png" alt="" /><span> sensors</span></a></li>	
                   <li><a href="javascript:;"><i class="fa fa-file-code-o"></i><span> rest/api</span></a></li>		       
				</ul>
            </div>           
          </div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>